{#
 # This file is part of the Adblock Plus website,
 # Copyright (C) 2006-present eyeo GmbH
 #
 # Adblock Plus is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License version 3 as
 # published by the Free Software Foundation.
 #
 # Adblock Plus is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 #}

<!DOCTYPE html>
<html <? include html-attributes ?>>

  <head>
    <? include meta/standard ?>
    <? include meta/social ?>
    <? include styles ?>
    <? include head/config ?>
    <? include head/analytics ?>
    <? include polyfills ?>

    {% block head %}
      {{head|safe}}
    {% endblock %}
  </head>

  <body>
    <? include analytics/body-start ?>
    <? include navbar ?>

    <div id="content" class="container content {{ localefile == "index" and page }}">
      {% if heading %}
        <h1>{{ heading | translate("heading", "heading") }}</h1>
      {% elif title and not noheading %}
        <h1>{{ title | translate("title") }}</h1>
      {% endif %}

      {% if not notoc %}
        {% macro toc(toclist) %}
          <ul>
            {% for item in toclist %}
              <li>
                <a href="#{{item.anchor}}">{{item.title|anchortext}}</a>
                {% if item.subitems %}{{toc(item.subitems)}}{% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endmacro %}

        {% set toclist = body|toclist %}
        {% if toclist %}
          <div class="toc">
            {{toc(toclist)}}
          </div>
        {% endif %}
      {% endif %}

      {% block body %}
        {{body|safe}}
      {% endblock %}
    </div>

    <? include footer ?>
    <? include cookie/index ?>
    <? include scripts ?>
  </body>
</html>
