{#
 # This file is part of the Adblock Plus website,
 # Copyright (C) 2006-present eyeo GmbH
 #
 # Adblock Plus is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License version 3 as
 # published by the Free Software Foundation.
 #
 # Adblock Plus is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
#}

<!DOCTYPE html>
<html <? include html-attributes ?>>
{% if is_old_index %}
  <? include old/index ?>
{% else %}
  <head>
    <? include meta/standard ?>
    <? include meta/social ?>
    <? include styles ?>
    <? include head/config ?>
    <? include head/analytics ?>
    <? include polyfills ?>

    {% block head %}
      {{ head | safe }}
    {% endblock %}
  </head>

  <body>
    <? include analytics/body-start ?>
    <? include navbar ?>

    {% block body %}
      {{ body | safe }}
    {% endblock %}

    <? include footer ?>
    <? include cookie/index ?>
    <? include scripts ?>
  </body>
{% endif %}
</html>
